/* src/components/ShopRegistration/ShopRegistration.module.css */

/* --- ESTILOS PAINEL --- */
.panel {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  margin: auto; /* Centraliza o formulário */
  background-color: #fff;
}

.backButton {
  margin-bottom: 15px;
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}
.backButton:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaço entre os campos */
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formField span {
  font-weight: 500;
  color: #333;
}

.formField input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submitButton {
  margin-top: 15px;
  padding: 12px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.submitButton:disabled {
  background-color: #aaa;
}

.sectionTitle {
  margin-top: 0;
  color: #333;
}

/* --- FIM DO PAINEL  --- */



/* --- NOVOS ESTILOS PARA O FORMULÁRIO DE BUSCA CIDADEQUERY --- */
.searchForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  margin-bottom: 20px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formField span {
  font-weight: 500;
  color: #333;
}

.formField input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
/* --- FIM DE NOVOS ESTILOS PARA O FORMULÁRIO DE BUSCA CIDADEQUERY --- */
